/* Pantalla inicial con gradiente */
.pantalla-inicial {
    background: linear-gradient(to bottom, #cc5069, #984cc1); /* Azul a morado */
    color: white;
}

/* Marco de la imagen */
.image-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    animation: punPun 1s infinite; /* Aplica la animación */
}

/* Imagen dentro del marco */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Animación de pun pun */
@keyframes punPun {
    0%, 100% {
        transform: scale(1); /* Tamaño normal */
    }
    50% {
        transform: scale(1.1); /* Aumenta ligeramente */
    }
}